---
name: Testing

on:
  push:
    branches:
      - master

jobs:
  e2e:
    name: E2E test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: pshelby/cfn-nag-github-action@master
        with:
          input_path: tests
          extra_args: --fail-on-warnings
